<!DOCTYPE html>

<html data-theme="{% if current_user is not defined %}night{% else %}{{current_user.Theme.Label}}{% endif %}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CV Mehdi{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
<div class="navbar bg-base-100 fixed">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Homepage</a></li>
        <li><a>Portfolio</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl">Mes recettes</a>
  </div>
  <div class="navbar-end">
    <a href="{{ path('login') }}" class="btn btn-ghost">
    <i class="fa fa-user"></i>
    </a>
  </div>
</div>
        {% block body %}{% endblock %}
</html>
